---

---

<footer class='h-20 justify-center items-center grid grid-cols-1'>
	<div class='text-center col-span-1'>
		Challenge by <a
			class='text-blue'
			href='https://www.frontendmentor.io?ref=challenge'
			target='_blank'
			rel='noopener'
			>Frontend Mentor</a
		>. and Solution by <a
			class='text-blue'
			href='https://www.frontendmentor.io/profile/samilaug'
			target='_blank'
			rel='noopener'
			>Samila Gunarathna</a
		>.
	</div>
	<div class='text-center col-span-1'>
		&copy; {new Date().getFullYear()} Body Mass Index Calculator.
	</div>
</footer>
